<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand mb-0 navbar-white">Collins</h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Account', account_path(current_user.account), class: 'nav-link' %>
      </li>
      <li class="nav-item">
      </li>
    </ul>
      <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-outline-danger', method: :delete %>


    <% else %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', welcome_about_path, class: 'nav-link' %>
      </li>
    </ul>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-success' %>
    <% end %>
  </div>
</nav>
