<div class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-header"><%= @account.business_name.titleize %></h1>
      <p>Industry Type:</p>
      <h1><%= @account.industry_type.titleize %></h1>

      <p>Employees:</p>
      <h1><%= @account.total_employees %></h1>
  </div>
</div>

<br>

<div class="container">

</div>
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <%= link_to 'Add User', new_account_user_path(id: @account.id), class: 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="card-block">
      <%= render partial: 'account/users/users', locals: { users: @users } %>
    </div>
  </div>
</div>
